.categories-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.categories-slider {
  width: 10%;
  height: 1dvh;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.categories-slider .categories-slider-position {
  position: relative;
  left: 0;
  height: 1dvh;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}

.categories {
  width: 100%;
  margin-top: 50px;
  position: relative;
}

.categories-container {
  position: relative;
  left: 5%;
  width: 90%;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 1%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.categories-container::-webkit-scrollbar {
  display: none;
}

.categories-container img {
  position: absolute;
}

.categories-container .category {
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 24%;
}

.categories-container .category:hover {
  cursor: pointer;
}

.categories-container .substract {
  position: relative;
  max-width: 95%;
}

.categories-container .category-img {
  max-width: 70%;
  margin-bottom: 15%;
}

.categories-container .made-for-order {
  max-width: 25%;
  top: 40%;
  left: 5%;
}

.categories-container .category h3 {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 3%;
}

.categories-container .category .amount {
  position: absolute;
  width: 19%;
  height: 14%;
  border-radius: 50%;
  transform: rotate(-22deg);
  top: 27%;
  right: -4%;
  background-color: rgb(250, 142, 239);
  font-family: "EuclidRegular";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-container .category .amount span {
  font-family: "Floreste";
  font-size: 1.5rem;
}

.categories-container .category .open-category {
  position: relative;
  display: flex;
  bottom: 9%;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(218, 255, 90);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  width: 25%;
  height: 0;
  font-size: 1.7rem;
  font-weight: 200;
  padding: 12% 0;
  color: rgb(218, 255, 90);
  transition: all 0.4s ease-in-out;
}

.categories-container .category:hover .open-category {
  border: 1px solid transparent;
  color: rgb(174, 151, 232);
  background-color: rgb(218, 255, 90);
}

.all-category-goods {
  position: relative;
  opacity: 0;
  height: 0;
  width: 90%;
  left: 5%;
  top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  gap: 30px;
  transition: height 0.5s ease-in-out;
}

.all-category-goods .all-category-item {
  position: relative;
  width: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-category-goods .all-category-item-img {
  width: 70%;
}

.all-category-goods .all-category-item p {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid rgb(218, 255, 90);
}

.all-category-goods .all-category-item .item-name {
  margin-bottom: 0;
}

.all-category-goods .all-category-item .item-buy-button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.all-category-goods .all-category-item .item-buy-button img {
  height: 1.4rem;
}

.all-category-goods .all-category-item .item-buy-button span {
  font-size: 1.4rem;
}

.all-category-goods .all-category-item .item-price {
  display: flex;
  align-items: center;
  font-family: "Floreste";
  font-weight: 200;
  text-align: center;
  font-size: 1.6rem;
  padding-top: 5px;
}

.all-category-goods .all-category-item .item-price::after {
  content: "₽";
  font-family: "EuclidRegular";
  font-size: 1.3rem;
  padding-left: 2px;
}

.all-category-goods .price-buy-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.all-category-goods .color-of-item {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 1rem;
  height: 1rem;
  border: 3px solid white;
  border-radius: 50%;
}

.load-more-goods {
  position: relative;
  font-family: "EuclidRegular";
  color: white;
  border: none;
  background-color: transparent;
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 80px;
  width: 15%;
  height: 80px;
  height: 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.load-more-goods::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 80px;
  border-radius: 50%;
  border: 1px solid rgb(218, 255, 90);
  transform: rotate(-13deg);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.load-more-goods:hover::after {
  background-color: rgba(255, 255, 255, 0);
}

.load-more-goods span {
  font-size: 1.2rem;
  color: rgb(218, 255, 90);
}
