header {
  background-color: transparent;
  position: absolute;
  z-index: 200;
  left: 3%;
  top: 25px;
  width: 97%;
}

.logo {
  width: 8%;
}

.navigation-bar {
  display: flex;
  width: 100%;
}

.navigation-bar .header-button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigation-bar .header-button img {
  width: 1.5rem;
}

.navigation-bar .header-button span {
  margin-left: 5px;
}

.katalog-button {
  width: 17%;
  display: flex;
  justify-content: center;
}

.katalog-button a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-contacts {
  position: relative;
  right: -1%;
  width: 40%;
  display: flex;
  justify-content: center;
}

.search-button {
  position: relative;
  width: 10%;
  justify-content: end;
  right: -1%;
}

.heart-profile-cart {
  display: flex;
  width: 25%;
  justify-content: end;
  padding-right: 4%;
}

.heart-profile-cart .header-button {
  margin-left: 7px;
}

@media (max-width: 750px) {
  .logo {
    width: 14%;
  }
  .katalog-button {
    visibility: hidden;
    width: 0;
  }

  .blog-contacts {
    right: -1%;
  }

  .search-button span {
    visibility: hidden;
    width: 0;
  }
  .search-button {
    right: -3%;
  }

  .heart-profile-cart {
    position: absolute;
    right: 4%;
    padding-right: 0;
    width: 6%;
  }

  .heart-profile-cart .header-button {
    margin-left: 0;
  }

  .navigation-bar .header-button img {
    width: 1.2rem;
  }
}
