header {
  background-color: transparent;
  position: absolute;
  z-index: 200;
  left: 3%;
  top: 4dvh;
  width: 98%;
}

.logo {
  width: 8%;
}

.navigation-bar {
  display: flex;
  width: 100%;
}

.navigation-bar .header-button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigation-bar .header-button img {
  width: 1.5rem;
}

.navigation-bar .header-button span {
  margin-left: 5px;
}

.katalog-button {
  width: 17%;
  display: flex;
  justify-content: center;
}

.blog-contacts {
  position: relative;
  right: -1%;
  width: 40%;
  display: flex;
  justify-content: center;
}

.search-button {
  position: relative;
  width: 10%;
  justify-content: end;
  right: -1%;
}

.heart-profile-cart {
  display: flex;
  width: 25%;
  justify-content: end;
  padding-right: 4%;
}

.heart-profile-cart .header-button {
  margin-left: 7px;
}

.bought-number {
  opacity: 0;
  width: 17px;
  height: 17px;
  color: white;
  font-family: "EuclidRegular";
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  position: relative;
  top: -10px;
  left: -5px;
  border-radius: 50%;
  background-color: coral;
  transition: all 0.3s linear;
}
