body {
  background-color: rgb(174, 151, 232);
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: white;
}

@font-face {
  font-family: "MySpooky";
  src: url("../public/fonts/UnknowRegular-JRMLa.ttf");
}

@font-face {
  font-family: "Lamiran";
  src: url("../public/fonts/Lamiran.ttf");
}

@font-face {
  font-family: "Floreste";
  src: url("../public/fonts/FloresteWavy.otf");
}
