@font-face {
  font-family: "Floreste";
  src: url("../public/fonts/FloresteWavy.otf");
}

@font-face {
  font-family: "EuclidRegular";
  src: url("../public/fonts/EuclidRegular.ttf");
}

body {
  background-color: rgb(174, 151, 232);
  font-family: "EuclidRegular";
  color: white;
  overflow-x: hidden;
}

.creatingAGreatArt {
  width: 100%;
  margin-top: 20px;
}

.categories-swiper {
  width: 100%;
}

.swiper-slide {
  flex-shrink: 100 !important;
  width: 25%;
  height: auto !important;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1 {
  text-align: center;
  margin-top: 30px;
}
