.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  background-color: rgb(174, 151, 232);
  overflow: hidden;
}

.single-good-modal {
  z-index: -20;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(174, 151, 232);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-good-modal .good-img {
  position: absolute;
  max-width: 55%;
  max-height: 70%;
  -webkit-filter: drop-shadow(0 0 60px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 0 60px rgba(0, 0, 0, 0.3));
}

.close-button {
  position: absolute;
  cursor: pointer;
  right: 3%;
  top: 3%;
  font-family: "EuclidRegular";
  color: white;
  border: none;
  background-color: transparent;
}

.close-button span {
  font-size: 2rem;
  margin-left: 3px;
}

.good-heart-button {
  background-color: transparent;
  border: 1px solid rgb(218, 255, 90);
  border-radius: 50%;
  color: white;
  width: 3vw;
  height: 3vw;
  position: absolute;
  right: 5%;
  top: 16%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.good-heart-button:hover {
  border: 1px solid transparent;
  color: rgb(218, 255, 90);
  background-color: rgba(255, 255, 255, 0.3);
}

.good-artikul {
  position: absolute;
  left: 3%;
  top: 10%;
}

.color-height {
  display: flex;
  position: absolute;
  width: 90%;
  left: 5%;
  justify-content: space-between;
  top: 24%;
}

.good-color {
  display: flex;
  gap: 5px;
}

.good-color div {
  width: 1vw;
  height: 1vw;
  border: 2px solid white;
  border-radius: 50%;
}

.manufacturer {
  position: relative;
  top: 3%;
  font-family: "Floreste";
  font-weight: 300;
  font-size: 15vw;
  color: rgba(255, 255, 255, 0.2);
}

.description-name-buybutton {
  position: absolute;
  left: 5%;
  bottom: -2%;
  display: flex;
  width: 90%;
  height: 25%;
  align-items: start;
}

.good-description {
  width: 25%;
  margin: 0;
  padding: 0;
}
.description-name-buybutton .name-price {
  font-family: "Floreste";
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.description-name-buybutton .name-price .item-name {
  font-size: 3rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.description-name-buybutton .name-price .item-price {
  font-size: 2rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.name-price .item-price::after {
  content: "₽";
  font-family: "EuclidRegular";
  font-size: 2rem;
  padding-left: 2px;
}

.description-name-buybutton .good-buy-button {
  display: flex;
  position: relative;
  width: 25%;
  height: 50%;
  border-radius: 50%;
  border: 1px solid rgb(218, 255, 90);
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "EuclidRegular";
}

.description-name-buybutton .good-buy-button::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgb(218, 255, 90);
  transform: rotate(-13deg);
  transition: all 0.5s ease-in-out;
}

.description-name-buybutton .good-buy-button:hover::after {
  transform: rotate(0deg);
  background-color: transparent;
  cursor: pointer;
}

.description-name-buybutton .good-buy-button img {
  width: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.contacts-modal {
  opacity: 0;
  z-index: -20;
  background-color: rgb(174, 151, 232);
}

.contacts-wrapper {
  position: absolute;
  width: 90%;
  left: 5%;
  height: 90%;
  top: 5%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}

.contacts-form {
  height: 45%;
  border-radius: 50px 50px 0 0;
  display: flex;
}

.contacts {
  display: flex;
  height: 100%;
  width: 60%;
  background-color: rgb(191, 168, 245);
  border-radius: 50px 0 0 0;
}

.contacts .address {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 6%;
  width: 60%;
  margin-top: 5%;
}

.contacts .address h2 {
  font-size: 2rem;
}

.contacts .address p:first-child {
  color: rgba(255, 255, 255, 0.5);
}

.contacts .phone {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin-top: 5%;
}

.contacts .phone p:first-child {
  color: rgba(255, 255, 255, 0.5);
}

.contacts .phone h2 {
  font-family: "Floreste";
}

.form-feedback {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250, 142, 239);
  border-radius: 0 50px 0 0;
}

.form-feedback h4 {
  margin-top: 5%;
  padding-left: 5%;
  color: rgba(255, 255, 255, 0.5);
  align-self: flex-start;
}

.form-feedback form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-feedback form input:not(.submit-button) {
  margin-top: 3%;
  color: white;
  font-family: "EuclidRegular";
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(218, 255, 90);
  width: 90%;
}

.form-feedback form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form-feedback form input:active {
  outline: 2px solid rgba(255, 255, 255, 0.5);
}

.form-feedback form input:focus {
  outline: 2px solid rgba(255, 255, 255, 0.5);
}

.submit-button {
  width: 35%;
  height: 40%;
  border: 1px solid rgb(218, 255, 90);
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 5%;
  color: white;
  font-family: "EuclidRegular";
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  align-self: flex-start;
}

.submit-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.contacts-map {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 0 0 50px 50px;
}

.contacts-map iframe {
  width: 100%;
  border-radius: 0 0 50px 50px;
}

@media (max-width: 750px) {
  .description-name-buybutton {
    flex-direction: column;
    align-items: center;
  }
  .good-description {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
  }

  .good-buy-button {
    width: 50% !important;
    height: 10vh !important;
    margin-top: 2%;
  }

  .name-price {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    bottom: 30dvh;
  }
  .good-heart-button {
    width: 7vw;
    height: 7vw;
  }

  .good-description {
    font-size: 0.7rem !important;
  }
}
